.c-imc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: $em-24;
  gap: $em-18;
  background-color: $accent-second;
  border-radius: $em-16;
  box-shadow: $shadow-md;

  &--normal {
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;

    &:hover {
      background-color: $accent-third;
      border-radius: $em-16;
    }
  }

  &__image {
    border-radius: $em-8;
    height: $image-size-sm;
    width: 100%;
    box-shadow: $shadow-lg;
    @include tablet() {
      height: $image-size-md;
    }

    @include desktop() {
      height: $image-size-lg;
    }
  }

  &__content {
    @include column($em-16);
    width: 100%;
  }

  &__category-date {
    display: flex;
    gap: $em-8;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
    gap: $em-8;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__button {
    width: 100%;
  }

  &__buttons {
    display: grid;
    gap: $em-18;
    width: 100%;

    &-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $em-8;
      @include only-mobile() {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}