<div class="c-explore-page" [formGroup]="this.formGroup">

    <div class="c-explore-page__title-get-all">
        <span class="o-text-xl-bold">Explorar</span>
        <app-button [description]="'Mostrar todos'" [icon]="Icon.View" (click)="this.service.getAll()"
                    [buttonType]="ButtonType.Secondary"/>
    </div>

    <div class="c-explore-page__inputs">
        <app-input [formGroupName]="'recipe'"/>
        <app-select [formGroupName]="'imcTypes'" [label]="'Ordenar por tipo de IMC:'"
                    [options]="getAllValues(ImcType)"/>
        <app-select [formGroupName]="'riskType'" [label]="'Ordenar por riesgo:'"
                    [options]="getAllValues(RiskType)"/>
    </div>

    @if (this.service.isWorking()) {
        <span class="o-text-xl-bold">Cargando...</span>
    }

    @if (this.service.isCompleted()) {
        <span class="o-text-lg-semibold"> {{ this.getResultLabel() }}</span>

        <div class="o-layout-cards">
            @for (card of this.service.cards; track card) {

            }
        </div>
    }
</div>