.c-explore-page {

  @include layout();

  &__inputs {
    @include column($em-16);
  }

  &__search {
    padding: $em-14;
    background-color: $accent-second;
    color: $neutral-white;
  }

  &__title-get-all {
    @include row($em-16);
  }
}
