@if (this._showHeader) {
  <div [ngClass]="{ 'c-header--is-for-article-page': isForArticlePage,
    'c-header--is-with-preferences': isWithPreferences}"
       class="c-header o-layout-max-width">
    <app-header-detail [headerDetail]="this.headerDetail" [withDescription]="false"  (clickedPhoto)="this.togglePreferences()" />
    @if (this.isWithBack) {
      <app-button
        (click)="this.redirectToBack()"
        [description]="'Volver'"
        [buttonType]="ButtonType.Back" />
    }
  </div>

  @if (this.showPreferences) {
    <div class="c-header__preferences o-translate-{{this.getValueTranslate()}}">
      <app-button
        (click)="this.navigateTo(AppRoutePage.Home)"
        [description]="'Inicio'"
        [icon]="Icon.Home"
        [buttonType]="ButtonType.Secondary" />
      <app-button
        (click)="this.navigateTo(AppRoutePage.Profile)"
        [description]="'Editar perfil'"
        [icon]="Icon.Edit"
        [buttonType]="ButtonType.Secondary" />
      <app-button
        (click)="this.onLogout()"
        [description]="'Cerrar sesión'"
        [icon]="Icon.Logout"
        [buttonType]="ButtonType.Secondary" />

    </div>
  }
}