<div class="c-auth-page o-layout-auth-page" [formGroup]="this.formGroup">
    <svg-icon [applyClass]="true"
              [class]="'c-auth-page__logo'"
              src="assets/icons/logo.svg"/>
    <div class="c-auth-page__content">
        <app-input [icon]="Icon.Profile"
                   [errorMessage]="'El nombre de usuario es requerido'"
                   [placeholder]="'Ingrese su nombre de usuario'"
                   [validators]="[Validators.required, Validators.minLength(6), Validators.maxLength(10)]"
                   [formGroupName]="'username'"
                   [title]="'Usuario'"/>
        @if (this.isInvalid('username')) {
            <span class="o-text-sm-semibold">El nombre de usuario debe tener un mínimo de 6 y máximo 10 caracteres </span>
        }

        <app-input [icon]="Icon.Profile"
                   [errorMessage]="'El primer nombre es requerido'"
                   [placeholder]="'Ingrese su primer nombre'"
                   [validators]="[Validators.required, Validators.minLength(3), Validators.maxLength(20)]"
                   [formGroupName]="'firstName'"
                   [title]="'Primer nombre'"/>
        @if (this.isInvalid('firstName')) {
            <span class="o-text-sm-semibold">El primer nombre debe tener un mínimo de 3 y máximo 20 caracteres</span>
        }

        <app-input [icon]="Icon.Profile"
                   [errorMessage]="'El segundo nombre es requerido'"
                   [placeholder]="'Ingrese su segundo nombre'"
                   [validators]="[Validators.required, Validators.minLength(3), Validators.maxLength(20)]"
                   [formGroupName]="'lastName'"
                   [title]="'Apellido'"/>
        @if (this.isInvalid('lastName')) {
            <span class="o-text-sm-semibold">El segundo nombre debe tener un mínimo de 3 y máximo 20 caracteres</span>
        }

        <app-input [icon]="Icon.Edit"
                   [errorMessage]="'El correo es requerido'"
                   [placeholder]="'Ingrese su correo'"
                   [validators]="[Validators.required, Validators.email]"
                   [formGroupName]="'email'"
                   [title]="'Correo'"/>
        @if (this.isInvalid('email')) {
            <span class="o-text-sm-semibold">El correo no es válido</span>
        }
        <app-input [icon]="Icon.Security"
                   [errorMessage]="'La contraseña es requerida'"
                   [placeholder]="'Ingrese su contraseña'"
                   [validators]="[Validators.required, Validators.minLength(8), Validators.maxLength(32)]"
                   [title]="'Contraseña'"
                   [formGroupName]="'password'"
                   [type]="'password'"/>
        @if (this.isInvalid('password')) {
            <span class="o-text-sm-semibold">La contraseña debe tener un mínimo de 8 y máximo 32 caracteres </span>
        }
        <app-input [icon]="Icon.Security"
                   [errorMessage]="'La contraseña es requerida'"
                   [placeholder]="'Ingrese su contraseña'"
                   [validators]="[Validators.required, Validators.minLength(8), Validators.maxLength(32)]"
                   [title]="'Confirmar contraseña'"
                   [formGroupName]="'confirmPassword'"
                   [type]="'password'"/>
        @if (this.isDirties() && !this.isCorrectPassword) {
            <span class="o-text-sm-semibold">Las contraseñas no coinciden</span>
        }

        @if (this.existsErrorMessage()) {
            <span class="o-text-sm-semibold">{{ this.errorMessage }}</span>
        }

        <app-button (click)="this.onRegister()" [description]="'Registrarse'" [icon]="Icon.Save"
                    [isDisabled]="!this.isValidForm()"/>

    </div>
</div>