<div class="c-imc-card c-imc-card--normal">
  <div class="c-imc-card__content">
    <div class="c-imc-card__category-date o-text-sm-light">
      <span class="c-imc-card__date o-text-ellipsis">{{ this.imcCard.date }}</span>
    </div>
    <span class="c-imc-card__title o-text-base-semibold o-text-ellipsis">{{ this.imcCard.recipe }}</span>
    <div class="c-imc-card__tags">
      <app-button [description]="this.imcCard.imcType"
                       [icon]="Icon.State"
                       [buttonType]="ButtonType.Tag" />
        <app-button [description]="this.imcCard.riskType"
                    [icon]="Icon.State"
                    [buttonType]="ButtonType.Tag" />
    </div>
  </div>
</div>