<div class="c-user-card">
  <app-header-detail [headerDetail]="this.headerDetail" [withDescription]="true" />
  <span class="o-text-base-normal">{{ this.user.imc.recipe }}</span>
  <app-button (click)="onToggleShowEditRoles()" [description]="'Actualizar roles'" [icon]="Icon.Security"
                   [buttonType]="ButtonType.Primary" />

  @if (this.showEditRoles) {
    <app-edit-recipes [username]="this.user.username" [recipe]="this.user.imc.recipe" />
  }
  <app-button (click)="this.onDeleteUser()"
                   [description]="'Eliminar usuario'" [icon]="Icon.Delete"
                   [buttonType]="ButtonType.Secondary" />

</div>
