<div class="c-add-rating-card">
  <div class="c-add-rating-card__title-rating">
    <span class="o-text-base-semibold">Receta: </span>
      <app-input [isTextArea]="true"
                 [placeholder]="'Escribe una receta'"
                 [validators]="[Validators.required, Validators.maxLength(250)]"
                 [errorMessage]="'La receta es obligatoria y no puede superar los 250 caracteres'"
                 [formGroupName]="'recipe'"
                 [title]="'Receta'"
                 [value]="this.recipe" />
  </div>

  @if (this.existsErrorMessage()) {
    <span class="o-text-sm-semibold">{{ this.errorMessage }}</span>
  }

  @if (this.showMessage) {
    <span class="o-text-sm-semibold">Se han guardado los cambios</span>
  }

  <app-button (click)="onSave()" [description]="'Guardar cambios'" [icon]="Icon.Star"
                   [buttonType]="ButtonType.Primary" />
</div>