<div class="c-auth-page o-layout-auth-page" [formGroup]="this.formGroup">
  <svg-icon [applyClass]="true"
            [class]="'c-auth-page__logo'"
            src="assets/icons/logo.svg" />
  <div class="c-auth-page__content">
    <app-input [icon]="Icon.Profile"
                    [errorMessage]="'El nombre de usuario es requerido'"
                    [placeholder]="'Ingrese su nombre de usuario'"
                    [validators]="[Validators.required, Validators.minLength(6), Validators.maxLength(10)]"
                    [formGroupName]="'username'"
                    [title]="'Usuario'" />
    @if (this.existsErrorInUsername()) {
      <span class="o-text-sm-semibold"> El nombre de usuario debe tener entre 6 y 10 caracteres </span>
    }
    <app-input [icon]="Icon.Security"
                    [errorMessage]="'La contraseña es requerida'"
                    [placeholder]="'Ingrese su contraseña'"
                    [validators]="[Validators.required, Validators.minLength(8), Validators.maxLength(32)]"
                    [title]="'Contraseña'"
                    [formGroupName]="'password'"
                    [type]="'password'" />
    @if (this.existsErrorInPassword()) {
      <span class="o-text-sm-semibold"> La contraseña debe tener entre 8 y 32 caracteres </span>
    }

    @if (this.existsErrorInLogin) {
      <span class="o-text-sm-semibold"> El usuario o la contraseña son incorrectos </span>
    }
    @if (this.existErrorMessage()) {
      <span class="o-text-sm-semibold"> {{ this.errorMessage }} </span>
    }
    <app-button (click)="this.onLogin()" [description]="'Iniciar sesión'" [icon]="Icon.Login" />
    <app-button (click)="this.onRegister()" [description]="'Registrarse'" [icon]="Icon.Save" />
  </div>
</div>