<div class="c-edit-profile-page" [formGroup]="this.formGroup">
    <div class="c-edit-profile-page__upload-photo">
        <img [alt]="this.authService.user.username" class="c-edit-profile-page__photo" src="{{this.photo}}"/>
        <app-button-select-image (imageSelected)="this.onImageSelected($event)"/>
    </div>
    <app-input [icon]="Icon.Profile"
               [errorMessage]="'El nombre de usuario es requerido'"
               [placeholder]="'Ingrese su nombre de usuario'"
               [validators]="[Validators.required, Validators.minLength(6), Validators.maxLength(10)]"
               [formGroupName]="'username'"
               [value]="this.authService.user.username"
               [title]="'Usuario'"/>
    @if (this.isInvalid('username')) {
        <span class="o-text-sm-semibold">El nombre de usuario debe tener un mínimo de 6 y máximo 10 caracteres </span>
    }

    <app-input [icon]="Icon.Profile"
               [errorMessage]="'El primer nombre es requerido'"
                [placeholder]="'Ingrese su primer nombre'"
                [validators]="[Validators.required, Validators.minLength(3), Validators.maxLength(20)]"
                [formGroupName]="'firstName'"
                [value]="this.authService.user.firstName"
                [title]="'Primer nombre'"/>
    @if (this.isInvalid('firstName')) {
        <span class="o-text-sm-semibold">El primer nombre debe tener un mínimo de 3 y máximo 20 caracteres</span>
    }

    <app-input [icon]="Icon.Profile"
               [errorMessage]="'El segundo nombre es requerido'"
               [placeholder]="'Ingrese su segundo nombre'"
               [validators]="[Validators.required, Validators.minLength(3), Validators.maxLength(20)]"
               [formGroupName]="'secondName'"
               [value]="this.authService.user.lastName"
               [title]="'Apellido'"/>
    @if (this.isInvalid('lastName')) {
        <span class="o-text-sm-semibold">El segundo nombre debe tener un mínimo de 3 y máximo 20 caracteres</span>
    }

    <app-input [icon]="Icon.Security"
               [errorMessage]="'El correo es requerido'"
               [placeholder]="'Ingrese su correo'"
               [validators]="[Validators.required, Validators.email]"
               [formGroupName]="'email'"
               [title]="'Correo'"/>
    @if (this.isInvalid('email')) {
        <span class="o-text-sm-semibold">El correo no es válido</span>
    }

    <app-input [icon]="Icon.Edit"
               [title]="'Peso'"
               [formGroupName]="'weight'"
               [errorMessage]="'El peso es requerido'"
               [placeholder]="'Ingrese su peso'"
               [validators]="[Validators.required, Validators.min(1), Validators.max(300)]"/>
    @if (this.isInvalid('weight')) {
        <span class="o-text-sm-semibold">El peso debe ser mayor a 0 y menor a 300</span>
    }

    <app-input [icon]="Icon.Edit"
               [title]="'Altura'"
               [formGroupName]="'height'"
               [errorMessage]="'La altura es requerida'"
               [placeholder]="'Ingrese su altura'"
               [validators]="[Validators.required, Validators.min(1), Validators.max(300)]"/>
    @if (this.isInvalid('height')) {
        <span class="o-text-sm-semibold">La altura debe ser mayor a 0 y menor a 300</span>
    }

    <app-input [icon]="Icon.Edit"
               [title]="'Edad'"
               [formGroupName]="'age'"
               [errorMessage]="'La edad es requerida'"
               [placeholder]="'Ingrese su edad'"
               [validators]="[Validators.required, Validators.min(1), Validators.max(120), Validators.pattern('^[0-9]*$')]"/>
    @if (this.isInvalid('age')) {
        <span class="o-text-sm-semibold">La edad debe ser mayor a 0 y menor a 120</span>
    }


    @if (this.isInvalid('numberWhatsapp')) {
        <span class="o-text-sm-semibold">El número de WhatsApp debe tener 10 dígitos</span>
    }
    @if (this.formGroup.touched && this.formGroup.invalid) {
        <span class="o-text-sm-bold">Por favor, antes de editar el perfil, completa los campos obligatorios...</span>
    }

    @if (this.existsErrorMessage()) {
        <span class="o-text-sm-semibold">{{ this.errorMessage }}</span>
    }

    @if (this.message !== '') {
        <span class="o-text-sm-semibold">{{ this.message }}</span>
    }

    <app-button (click)="this.onEditProfile()" [description]="'Guardar cambios'" [icon]="Icon.Save"
                [isDisabled]="this.formGroup.invalid"/>
</div>