<div class="c-select" [formGroupName]="this.formGroupName">

  @if (this.withTitle) {
    <span class="o-text-base-medium">{{ this.title }}</span>
  }

  <div class="c-select__container">
    <select
      class="c-select__content o-text-base-medium"
      formControlName="select">
      <option
        *ngFor="let option of this.options"
        [ngValue]="option"
        class="c-select__option">
        {{ this.label }} {{ option }}
      </option>
    </select>
    <div class="c-select__icon">
      <svg-icon
        [applyClass]="true"
        [class]="'c-select__icon o-icon-size-lg'"
        src="assets/icons/arrow.svg"></svg-icon>
    </div>
  </div>
</div>